# Graded assignment 1

Mark Klik & Misja Mikkers


# Packages

We need the package `tidyverse`

In [3]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.3.3"-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 2.2.1     v purrr   0.2.4
v tibble  1.3.4     v dplyr   0.7.4
v tidyr   0.7.2     v stringr 1.2.0
v readr   1.1.1     v forcats 0.2.0
Warning message:
"package 'ggplot2' was built under R version 3.3.3"Warning message:
"package 'tibble' was built under R version 3.3.3"Warning message:
"package 'tidyr' was built under R version 3.3.3"Warning message:
"package 'readr' was built under R version 3.3.3"Warning message:
"package 'purrr' was built under R version 3.3.3"Warning message:
"package 'dplyr' was built under R version 3.3.3"Warning message:
"package 'forcats' was built under R version 3.3.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# Assignment 1

First, we generate some random data:

In [1]:
df1 <- as.data.frame(matrix(runif(20*2),
head(df1)

  V1        V2        V3        V4        V5        V6        V7
1 0.3787327 0.7436247 0.3601191 0.4569300 0.4559668 0.6799186 0.01433858
2 0.7199463 0.3923324 0.3714443 0.2169337 0.2913198 0.3685956 0.31348608
  V8        V9        V10       V11       V12       V13       V14
1 0.2381660 0.5981446 0.5970207 0.6168521 0.3405647 0.9508235 0.244407
2 0.5051415 0.9245539 0.7013700 0.6069248 0.7136498 0.9475670 0.646964
  V15       V16       V17       V18       V19       V20
1 0.5343513 0.4519885 0.4574369 0.7802623 0.2800409 0.0909288
2 0.5656658 0.4497163 0.6776936 0.1172906 0.3815818 0.5297524

_df1_ is a wide dataframe. The goal of the assignment is to change _df1_ into a long dataframe _df2_. And show the first rows of the dataframe using `head(df2)`

The dataframe _df2_ should look like this:

| Key | Value      |
|-----|------------|
| V1  | 0.09413864 |
| V1  | 0.69782526 |
| V2  | 0.23460454 |
| V2  | 0.51520514 |
| V3  | 0.63181844 |
| V3  | 0.22807211 |

In [20]:
df2 <- df1 %>%
    gather (key, value, V1:V20)
 

head(df2)

SyntaxError: invalid syntax (<ipython-input-20-21134775e871>, line 1)

## Assignment 2

We will generate some data:

In [6]:
df3 <- as.data.frame(read.table(header=TRUE, text='
      id        V_1       V_2                
          1  42.467573  -87.810047     
          2  42.049148  -88.273029
          3  39.110539  -90.324080
                       '))

head(df3)

  id V_1      V_2
1 1  42.46757 -87.81005
2 2  42.04915 -88.27303
3 3  39.11054 -90.32408

In [7]:
df4 <- as.data.frame(read.table(header=TRUE, text='
     V_3            V_4         id                 
      one         1h            1
      two         1h            1
      three       8h            2
      four        1h            4
'))

head(df4)

  V_3   V_4 id
1 one   1h  1
2 two   1h  1
3 three 8h  2
4 four  1h  4


You will have to merge these files, returning all rows and all columns from both _df3_ and _df5_. Where there are not matching values, return _NA_ for the missings. 

This should be the end result:

| id | V_1      | V_2       | V_3   | V_4 |
|----|----------|-----------|-------|-----|
| 1  | 42.46757 | -87.81005 | one   | 1h  |
| 1  | 42.46757 | -87.81005 | two   | 1h  |
| 2  | 42.04915 | -88.27303 | three | 8h  |
| 3  | 39.11054 | -90.32408 | NA    | NA  |
| 4  | NA       | NA        | four  | 1h  |

In [ ]:
df5 <- full_join(df3, df4, by='id')
df5

End of notebook